.memesCardContent{
    position: relative;
}
.memesCardContent::before{
position: absolute;
content: '';
background-image: url('../../../assets/memes.svg');
background-repeat: no-repeat;
background-size: cover;
width: 130px;
height: 130px;
right: 5px;
bottom: -15px;
fill:yellow;
}